<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    
    <form method="post" action="/add">
        <h1>Add item for list </h1>
        <label for="item">item</label>
    <input type="text" name="item" placeholder="item" required>

    <label for="color">color</label>
    <input type="text" name="color" placeholder="color">

    <label for="weight">Weight</label>
    <input type="number" name="weight" placeholder="weight">

    <label for="price">Price</label>
    <input type="number" name="price" placeholder="price"required>
    <button>add</button>
    </form>


</body>
</html>